<h2> AUTHORS DETAIL </h2>
<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %></br>
Name : <%= @author.name %> </br>
Addres : <%= @author.addres %> </br>
Age : <%= @author.old %> </br>